<p class="text-right">
  <button type="button" class="btn btn-default">
    <i class="fa fa-plus"></i> 追加
  </button>
  <button type="button" class="btn btn-default">
    <i class="fa fa-edit"></i> 編集OFF
  </button>
</p>

<div class="row">
  <div class="col-lg-3 col-md-4 col-xs-6">
    <div class="switch">
      <a href="#" class="small-box bg-aqua">
        <div class="inner text-center">
          <h3><i class="fa fa-power-off"></i></h3>
          <p>照明を切る</p>
        </div>
        <div class="small-box-footer">
          Send <i class="fa fa-arrow-circle-right"></i>
        </div>
      </a>
      <div class="switch-btns box-tools">
        <button type="button" class="btn btn-danger btn-sm" data-widget="remove" title="" data-original-title="削除">
          <i class="fa fa-times"></i></button>
      </div>

      <div class="text-center">
        <a href="#"><i class="fa fa-edit"></i> 編集</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="small-box bg-aqua">
      <div class="inner text-center">
        <h3><i class="fa fa-power-off"></i></h3>
        <p>照明を付ける</p>
      </div>
      <div class="small-box-footer">
        Send <i class="fa fa-arrow-circle-right"></i>
      </div>
    </a>
    <div class="text-center">
      <a href="#"><i class="fa fa-edit"></i> 編集</a>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="small-box bg-aqua">
      <div class="inner text-center">
        <h3><i class="fa fa-power-off"></i></h3>
        <p>エアコンを切る</p>
      </div>
      <div class="small-box-footer">
        Send <i class="fa fa-arrow-circle-right"></i>
      </div>
    </a>
    <div class="text-center">
      <a href="#"><i class="fa fa-edit"></i> 編集</a>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="small-box bg-aqua">
      <div class="inner text-center">
        <h3><i class="fa fa-power-off"></i></h3>
        <p>エアコンを付ける</p>
      </div>
      <div class="small-box-footer">
        Send <i class="fa fa-arrow-circle-right"></i>
      </div>
    </a>
    <div class="text-center">
      <a href="#"><i class="fa fa-edit"></i> 編集</a>
    </div>
  </div>
</div>


