<div class="row">
  <div class="col-lg-3 col-xs-6">
    <a href="#" class="small-box bg-aqua">
      <div class="inner">
        <p>電源を切る</p>
      </div>
      <div class="small-box-footer">
        Send <i class="fa fa-arrow-circle-right"></i>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-xs-6">
    <a href="#" class="small-box bg-aqua">
      <div class="inner">
        <p>電源を切る</p>
      </div>
      <div class="small-box-footer">
        Send <i class="fa fa-arrow-circle-right"></i>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-xs-6">
    <a href="#" class="small-box bg-aqua">
      <div class="inner">
        <p>電源を切る</p>
      </div>
      <div class="small-box-footer">
        Send <i class="fa fa-arrow-circle-right"></i>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-xs-6">
    <a href="#" class="small-box bg-aqua">
      <div class="inner">
        <p>電源を切る</p>
      </div>
      <div class="small-box-footer">
        Send <i class="fa fa-arrow-circle-right"></i>
      </div>
    </a>
  </div>
</div>



