<button type="button" class="btn btn-block btn-default">編集</button>

<div class="row">
  <div class="col-lg-3 col-xs-6">
    <a href="#" class="small-box bg-aqua">
      <div class="inner text-center">
        <h3><i class="fa fa-power-off"></i></h3>
        <p>照明を切る</p>
      </div>
      <div class="small-box-footer">
        Send <i class="fa fa-arrow-circle-right"></i>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-xs-6">
    <a href="#" class="small-box bg-aqua">
      <div class="inner text-center">
        <h3><i class="fa fa-power-off"></i></h3>
        <p>照明を付ける</p>
      </div>
      <div class="small-box-footer">
        Send <i class="fa fa-arrow-circle-right"></i>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-xs-6">
    <a href="#" class="small-box bg-aqua">
      <div class="inner text-center">
        <h3><i class="fa fa-power-off"></i></h3>
        <p>エアコンを切る</p>
      </div>
      <div class="small-box-footer">
        Send <i class="fa fa-arrow-circle-right"></i>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-xs-6">
    <a href="#" class="small-box bg-aqua">
      <div class="inner text-center">
        <h3><i class="fa fa-power-off"></i></h3>
        <p>エアコンを付ける</p>
      </div>
      <div class="small-box-footer">
        Send <i class="fa fa-arrow-circle-right"></i>
      </div>
    </a>
  </div>
</div>



