<% if user_signed_in? %>
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-settings-tab">
        <ul class="control-sidebar-menu">
          <li>
            <%= link_to edit_user_registration_path do %>
              <h4 class="control-sidebar-subheading">プロフィール変更</h4>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <h4 class="control-sidebar-subheading">ログアウト</h4>
            <% end %>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->


    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
<% end %>